.title {
    color:rgb(43, 47, 77); 
    font-size:60px;
    font-family:sans-serif;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:left;
    text-indent:530px;
    padding-top:20px ;
    padding-bottom:20px ;
   }

.Axis{
    color:rgb(43, 47, 77); 
    font-size:20px;
    font-family:sans-serif;
    font-weight:900;
    font-style:italic;
    line-height:30px;
    letter-spacing:1px;    
    text-transform:capitalize;
    text-emphasis-color: 0;
    }



.axis_label{
    color:rgb(43, 47, 77); 
    font-size:25px;
    font-family:sans-serif;
    font-weight:900;
    font-style:italic;
    line-height:30px;
    letter-spacing:1px;    
    text-transform:capitalize;
        }

.chartMax {
    fill: #cb6f65;
}

.chartMin {
    fill: #359099;
}

.year-slider {
    font-family:sans-serif;
    font-size:20px;
    font-weight:900;
    padding-left: 21px;
}

.year-label {
    font-family:sans-serif;
    font-size:30px;
    font-weight:900;
    
    
}

.cups {
    color:rgb(246, 247, 251); 
    font-size:25px;
    font-family:sans-serif;
    font-weight:900;
    font-style:italic;
    line-height:30px;
    letter-spacing:1px;    
    text-transform:capitalize;
}



