.title {
    color:white; 
    font-size:20px;
    font-family:sans-serif;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-indent:10px;
    padding-top:10px ;
    padding-left:310px ;
    text-align:left;
   }
#line {
    fill: none;
    stroke:rgb(236, 90, 11);
}

.womanGroup {
    fill :rgb(14, 155, 155);
    font-size:25px;
}

.diCaprioGroup {
    fill :rgb(236, 90, 11);
    font-size:25px;
}

.body {
    background-color: rgb(55, 44, 44);
}

.axis {
    color: white;
    font-size:20px;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background:rgb(55, 44, 44);
    color: rgb(14, 155, 155);
    font-size:25px;
  }

  .task {
    stroke:rgb(220, 72, 9);
    fill:none;
    font-size:20px;
}